label {
	font-size: 1.5em;
}

input {
	width: 80%;
	margin: 2rem auto;
	padding: 0.75rem;
	font-size: 1.25em;

	@include max-screen($max-breakpoint-xl) {
		display: block;
	}

	@include min-screen($min-breakpoint-xl) {
		max-width: 35rem;
		margin: 0 0 0 1rem;
	}
}
