body {
	margin: 0;
	overflow-x: hidden;
}

// For debugging
* {
	box-sizing: border-box;
	// 	outline: 1px solid red;
}

iframe {
	width: 100%;
	height: auto;
}

.section {
	display: grid;
	place-items: center;
	// margin-right: -15px;
	margin-bottom: 0;
	// margin-left: -15px;
	padding: 4rem 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;

	&:first-of-type {
		padding-top: 5rem;
	}

	&:last-of-type {
		padding-bottom: 5rem;
	}

	@include min-screen($max-breakpoint-lg) {
		padding: 3rem;

		&:first-of-type {
			padding-top: 11rem;
		}

		&:last-of-type {
			padding-bottom: 11rem;
		}

		&__heading,
		&__subheading {
			margin-bottom: 5rem;
		}
	}

	&__container {
		display: grid;
		place-items: center;
		max-width: 100%;
		width: 100%;
		// padding-right: 15px;
		// padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

.container {
	max-width: 1628px;
	width: 100%;
	padding-bottom: 2rem;
	padding-top: 2rem;

	.row {
		[class*='col-'] {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	&.two-column {
		.row {
			justify-content: space-evenly;
		}

		&.big-small {
			.row {
				justify-content: space-evenly;
			}
		}
	}

	&.three-column {
		.row {
			justify-content: space-evenly;
		}
	}

	&.four-column {
		.row {
			justify-content: space-evenly;
		}
	}
}
