html {
	font-size: $rem-base;
}

body {
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
	color: $cl__header-text;
	font-family: 'Fredoka', sans-serif;
}

a {
	text-decoration: none;
	color: $tenne-tawny;
}

h1 {
	// font-size: clamp(3rem, 3rem + 1vw, 7rem);
	// font-size: clamp(2rem, 1rem + 8.333vw, 5.5rem);
	@include font(45px, 42px, 800, 2px);

	@include min-screen($min-breakpoint-lg) {
		@include font(80px, 64px);
	}
}

h2 {
	@include font(28px, 30px, 700);

	@include min-screen($min-breakpoint-lg) {
		@include font(48px, 40px);
	}
}

h3 {
	@include font(30px, 32px, 800);

	@include min-screen($min-breakpoint-lg) {
		@include font(42px, 40px);
	}
}

h4 {
	@include font(24px, 28px, 700);

	@include min-screen($min-breakpoint-lg) {
		@include font(28px, 32px);
	}
}

p {
	margin: 0 0 2rem 0;
}
