.search {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $cl__white;
	z-index: 9999;
	overflow-x: hidden;

	&--closed {
		display: none;
		left: 100%;
		width: 0;
	}

	&--closing {
		display: block;
		animation: slideOut 0.3s ease;
	}

	&--opening {
		display: block;
		animation: slideIn 0.3s ease;
	}

	&--open {
		display: block;
		left: 0;
		width: 100vw;
	}

	label {
		display: grid;
		place-items: center;
	}

	@keyframes slideIn {
		0% {
			display: none;
			left: 100%;
			width: 0;
		}

		1% {
			display: block;
			left: 100%;
			width: 100vw;
		}

		100% {
			display: block;
			left: 0;
			width: 100vw;
		}
	}

	@keyframes slideOut {
		0% {
			display: block;
			left: 0;
			width: 100vw;
		}

		99% {
			display: block;
			left: 100%;
			width: 100vw;
		}

		100% {
			display: none;
			left: 100%;
			width: 0;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		padding: 2rem 1rem;

		.close {
			position: relative;
			width: 3rem;
			height: 3em;

			&:after,
			&:before {
				position: absolute;
				width: 100%;
				height: 2px;
				background: $cl__black;
				content: '';
			}

			&:after {
				transform: rotateZ(45deg);
			}

			&:before {
				transform: rotateZ(135deg);
			}
		}
	}

	&__container {
		.search-results {
			width: 100%;
			margin-top: 2rem;
			border-top: 1px solid $cl__grey;

			@include min-screen($min-breakpoint-lg) {
				width: 70%;
				margin: 0 auto;
			}

			.search-result-item {
				text-decoration: none;
				color: $cl__black;
				font-size: 1.25em;

				div {
					padding: 1rem;
					border-bottom: 1px solid $cl__grey;
				}
			}
		}
	}
}
