$cl__white: #fff;
$cl__black: #000;
$cl__grey: #919191;

// Primary Colours
$carolina-blue: #50a5dcff;
$tumbleweed: #d4af96ff;
$raw-sienna: #d17d45ff;
$tenne-tawny: #d15f13ff;
$coffee: #7d5438ff;

// buttons
// $cl__button-text: $cl__radical-red;
$cl__body-background: $cl__white;
$cl__border-colour: $coffee;
$cl__component-background: #919191;

$cl__header-text: $cl__black;

// Breakpoints

// Minimums
$min-breakpoint-xs: 0;
$min-breakpoint-sm: 576px;
$min-breakpoint-md: 768px;
$min-breakpoint-lg: 992px;
$min-breakpoint-xl: 1200px;
$min-breakpoint-xxl: 1470px;
$min-breakpoint-xxxl: 1630px;

// Maximums
$max-breakpoint-xs: 0;
$max-breakpoint-sm: 575px;
$max-breakpoint-md: 767px;
$max-breakpoint-lg: 991px;
$max-breakpoint-xl: 1199px;
$max-breakpoint-xxl: 1469px;
$max-breakpoint-xxxl: 1629px;

// Fonts
$rem-base: 10px;
$font-size: 16px;
